.syn-nav-bar {
    transition: all 0.3s;
    position: sticky;
}

.syn-footer-hul {
	width: 100%;
	display: table;
	table-layout: fixed;
	padding: 0;
	margin: 0;
}

.syn-footer-hli {
	display: table-cell;
	width: auto;
	text-align: center;
	vertical-align: middle;
}

.syn-shadow-btn,
.syn-shadow-button {
	cursor: pointer;
	white-space: nowrap
}

.syn-shadow-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.syn-shadow-btn,
.syn-shadow-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.syn-shadow-rounded-corner {
    border-radius:11px;
}

.syn-shadow-rounded-corner:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 4px 15px 0 rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0 0 12px  rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 12px  rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 12px  rgba(0,0,0,0.3);
}

.syn-shadow-circle {
}

.syn-shadow-circle:hover {
  border-radius:150px;
}

.syn-footer-p {
  margin-top: revert;
  color: white;
}

.syn-footer-a {
    color: white;
	text-decoration: underline;
}

.syn-wrap {
	overflow-wrap: normal;       /* css-3 */
	white-space: pre-wrap;		 /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.syn-shadow-btn.syn-footer-a:hover {
    color: white;
}

.syn-auto {
	width: 100%
}

.syn-dropdown {
	position: fixed
}

@media (min-width:641px) {
	.syn-hide-large {
        display: none!important
	}
}

@media (max-width:640px) {
	.syn-hide-small {
        display: none!important
	}
}
